{
	":configurator:resource-version": 1,
	":configurator:symbolic-name": "IbisConfig",
	":configurator:version": "0.0.0",
  
        "MQTTService~full":
        {
                "id": "full",
                "brokerUrl": "tcp://devel.data-in-motion.biz:1883",
                "username": "demo",
                "password" : "1234"
        },
	
	"IbisDeviceConfigurator~bus359": {
		"deviceId": "bus359",
		"deviceName": "Bus 359",
		"deviceType": "BUS",
		"deviceIP": "192.168.243.1",
		"refTCPServices": [
			"CustomerInformationService"
		]
	},
	
	"IbisGNSSLocationService": {
		"serviceId": "LocationServiceId",
		"serviceName": "GNSSLocationService",
		"refDeviceId": "bus359",
		"refDeviceType": "BUS",
		"multiCastGroupPort": "5007",
		"multiCastGroupIP": "224.0.0.251",
		"listenerNetworkInterface": "eth1",
		"listenerPort": "5007"
	},

	"org.apache.felix.http~ibisHttp": {
		"org.osgi.service.http.port": "52000",
		"org.osgi.service.http.host": "0.0.0.0",
		"org.apache.felix.http.context_path": "ibis/",
		"org.apache.felix.http.name": "ibisHttp",
		"org.apache.felix.http.runtime.init.id": "ibisHttp"
	},

	"JakartarsServletWhiteboardRuntimeComponent~ibisRest": {
		"jersey.jakartars.whiteboard.name": "ibisRest",
		"jersey.context.path": "rest",
		"osgi.http.whiteboard.target": "(id=ibisHttp)"
	}
}

